1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
lista = []
for i in range(1,101):
    if i % 3 == 0 and i % 5 != 0:
        lista.append("Mickey")
    elif i % 5 == 0 and i % 3 != 0:
         lista.append("Mouse")
    elif i % 3 == 0 and i % 5 == 0:
         lista.append("MickeyMouse")
    else:
        lista.append(i)

In [2]:
raton = tuple(lista)
lista = ["Donald" if i == "Mickey" else "Duck" if i == "Mouse" else "DonaldDuck" if i == "MickeyMouse" else i for i in lista]
pato = tuple(lista)

In [3]:
raton

(1,
 2,
 'Mickey',
 4,
 'Mouse',
 'Mickey',
 7,
 8,
 'Mickey',
 'Mouse',
 11,
 'Mickey',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Mickey',
 19,
 'Mouse',
 'Mickey',
 22,
 23,
 'Mickey',
 'Mouse',
 26,
 'Mickey',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Mickey',
 34,
 'Mouse',
 'Mickey',
 37,
 38,
 'Mickey',
 'Mouse',
 41,
 'Mickey',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Mickey',
 49,
 'Mouse',
 'Mickey',
 52,
 53,
 'Mickey',
 'Mouse',
 56,
 'Mickey',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Mickey',
 64,
 'Mouse',
 'Mickey',
 67,
 68,
 'Mickey',
 'Mouse',
 71,
 'Mickey',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Mickey',
 79,
 'Mouse',
 'Mickey',
 82,
 83,
 'Mickey',
 'Mouse',
 86,
 'Mickey',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Mickey',
 94,
 'Mouse',
 'Mickey',
 97,
 98,
 'Mickey',
 'Mouse')

In [4]:
pato

(1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'DonaldDuck',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'DonaldDuck',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'DonaldDuck',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'DonaldDuck',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'DonaldDuck',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'DonaldDuck',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
try:
    x
except NameError:
    x = float(input("x value"))
try:
    y
except NameError:
    y = float(input("y value"))

In [9]:
def swap(x,y):
    x , y = y , x
    return x,y
swap(x,y)

(9.0, 5.0)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [13]:
u = (3, 0)
v = (0, 4)
def dist(u,v):
    x = ( u[0] - v[0], u[1] - v[1] )
    return (x[0]**2 + x[1]**2 )**0.5
dist((3, 0),(0, 4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [6]:
def count_characters(c):
    c = c.lower().replace(" ", "") # In order to ignore differences in capitalization.
    characters = set(c) # We create a s in order to eliminate repeated characters and make faster the next comparation between the list and the text.
    characters_unique = list(characters) # Now we trasnform the set in a list to have positional indexes.
    initial = 0
    count = dict.fromkeys(characters_unique, initial) # We create a dictionary with the unique characters and we set their initial value to 0.
    for i in range(0, len(c)):
        if c[i] in characters_unique: # All letters are in c[i] so this way we add them in "count".
            count[c[i]] += 1
    return count

In [8]:
count_characters(s)

{'t': 19,
 '.': 2,
 'k': 2,
 'e': 22,
 '0': 2,
 'u': 9,
 'w': 2,
 'p': 8,
 's': 9,
 'a': 7,
 'h': 9,
 'r': 17,
 'y': 2,
 'l': 6,
 'o': 13,
 'm': 12,
 'f': 10,
 'n': 10,
 'd': 3,
 'g': 1,
 '1': 2,
 'c': 3,
 'b': 5,
 'v': 2,
 'i': 14}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [13]:
def count_unique_numbers(c):
    unique = set(c) # So that we eliminate repeated numbers.
    unique_numbers = list(unique) # To recover the list.
    return print(f"The unique numbers in the list are {unique_numbers} and there are {len(unique_numbers)} different numbers")

In [15]:
count_unique_numbers(l)

The unique numbers in the list are [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99] and there are 54 different numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [18]:
def square(n):
    return n ** 2

def cube(n):
    return n ** 3

def sixth_power(n):
    result = cube(square(n))
    return result

In [20]:
sixth_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [105]:
def loop_cube(n):
    cubes = list(range(n)) # We create a list on where save each result.
    for i in range(0,n):
        cubes[i] = i ** 3
    return cubes

In [107]:
loop_cube(11)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [113]:
def comprehension_cube(n):
    cubes = [i ** 3 for i in range(0,n)]
    return cubes

In [115]:
comprehension_cube(11)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [187]:
def pyth_triple(n):
    triple_list = []
    for i in range (1,n):
        for j in range (1,n):
             for k in range (1,n):
                 if i ** 2 + j ** 2 == k ** 2 and j > i:
                     triple = i,j,k
                     triple_list.append(triple) 
                     final_tuple = tuple(triple_list)
    return final_tuple

In [189]:
pyth_triple(101)

((3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (28, 96, 100),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (60, 80, 100),
 (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [220]:
def norm_tuple(tuple):
    list_tuples = list(tuple)
    norm = [(i - min(list_tuples)) / (max(list_tuples) - min(list_tuples)) for i in list_tuples]
    return norm

In [222]:
ex_tuple = (1, 7, 5, 10)
norm_tuple(ex_tuple)

[0.0, 0.6666666666666666, 0.4444444444444444, 1.0]